[submodule ".tmux"]
	path = .tmux
	url = https://github.com/gpakosz/.tmux
[submodule ".vim"]
	path = .vim
	url = https://github.com/amix/vimrc
[submodule ".zsh/plugins/forgit"]
	path = .zsh/plugins/forgit
	url = https://github.com/wfxr/forgit.git
[submodule ".zsh/plugins/zsh-autosuggestions"]
	path = .zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
