"*":
  core:
    disabledPackages: [
      "spell-check"
    ]
    projectHome: "/home/dadyarri/projects"
    telemetryConsent: "limited"
    themes: [
      "dracula-ui"
      "dracula-syntax"
    ]
  editor:
    fontFamily: "Jetbrains Mono Nerd Font, Menlo, Consolas, DejaVu Sans Mono, monospace"
    tabType: "soft"
  "exception-reporting":
    userId: "d2003238-f571-4a6d-bdd3-28fd6c379380"
  minimap:
    absoluteMode: true
    adjustAbsoluteModeHeight: true
  wakatime:
    apikey: "Saved in your $WAKATIME_HOME/.wakatime.cfg file"
  welcome:
    showOnStartup: false
